* {
    margin: 0;
}

body {
    @extend .disable-selection;

    height: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
}

.memory-game-logo-1 {
  width: 86%;
  height:40%;
  background-image: url('../assets/imgs/common/memory-game-logo-1.svg');
  background-repeat: no-repeat;
}

.memory-game-logo-2 {
  width: 80%;
  height: 15%;
 
  background-image: url('../assets/imgs/common/memory-game-logo-2.svg');
  background-repeat: no-repeat;
}

.love-care-logo-1 {
  background-image: url('../assets/imgs/common/love-care-mili-logo-1.svg');

  width: 18%;
  height: 8.2%;
  background-repeat: no-repeat;
}

.love-care-logo-2 {
  background-image: url('../assets/imgs/common/love-care-mili-logo-2.svg');
  width: 290px;
  height: 233px;
  background-repeat: no-repeat;
}

.button-blue-1 {
  background: #27B8EF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 733px;
  height: 157px;
  border: none;
}

.button-pink-1 {
  background: #FE97DC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 58%;
  height: 8%;
  border: none;
}

.default-font {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.default-font-1 {
  @extend .default-font;

  font-size: 150px;
  line-height: 100%;
}

.default-font-2 {
  @extend .default-font;

  font-size: 64px;
  line-height: 234%;
}

.default-font-3 {
  @extend .default-font;

  font-size: 650%;
  line-height: 156%;
}

.default-font-4 {
  @extend .default-font;

  font-size: 380%;
  line-height: 121%;
}

.emoji-crying-face-1 {
    background-image: url('../assets/imgs/common/crying-face.png');
    width: 244px;
    height: 244px;
}

.disable-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}