body.index {
    background-image: url('../assets/imgs/common/bg-striped-blue.svg');
}

.love-care-logo-index {
    position: fixed; 
    border: none;
    top: 92.6%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.start-button {
    animation: start-bt-blink 2s linear infinite;
}

@keyframes start-bt-blink {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

#user-counter-div {
    position: absolute; 
    top: 1%;
    left: 1%; 
    color: white;
    font-size: 600%;
    opacity: 0;
}