body.index {
    background-image: url('../assets/imgs/common/bg-striped-blue.svg');
}

.start-button {
    position: fixed; 
    display: inline-block;
    top: 80.8%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.start-button-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.game-instructions {
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 82%;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0px;
}

.good-luck {
    position: absolute; 
    top: 71%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.memory-game-logo-start {
    position: absolute; 
    top: 33.5%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.love-care-logo-index {
    position: fixed; 
    border: none;
    top: 92.6%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}