body.index {
    background-image: url('../assets/imgs/bg-waves-main.svg');
}

@keyframes start-bt-blink {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

#user-counter-div {
    color: white;
    font-size: 200%;
    opacity: 0;
}

.default-font-5{
    font-family:"Quicksand";
    font-style:normal;
    font-weight:500;
    text-align:center;
    color:#fff;
    text-shadow:0px 4px 4px rgba(0,0,0,.25)
    font-size:280%;
    line-height:121%
}
