body.loss {
    background-image: url('../assets/imgs/common/bg-striped-blue.svg');
}

#containerloss {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-image: url('../assets/imgs/common/bg-striped-pink.svg');
}