body.win {
  background-image: url('../assets/imgs/bg-waves.svg');
}

#containerwin {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-image: url('../assets/imgs/bg-waves.svg');
}

.logo-3d {
    animation: rotation 2s linear infinite;
    transform-origin: center;
    transform-style: preserve-3d;
}
  
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}